.center {
    display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
      }
      /* TODO style lists to have more space, paragraphs more margin, link color different */
      a{
          color:orange
      }
    
      body { 
      background-color: whitesmoke; 

      font-family: sans-serif;
      
      color: black;
      
      }
.time{
    text-align:left;
    width:15%

}
.hidden{
    color:black;
    text-decoration: none;

}
a:hover{
    color: orange;
}
.navbar{
    overflow:hidden;
    background-color: white;
    position: fixed;
    top:0;
    bottom: 100%;
}